<img src="../../assets/images/header.png" class="img-fluid" alt="Responsive image">
<div class="row">
    <div class="col-2 justify-content-around d-flex flex-column">
  
        <button type="button" class="btn btn-outline-success btn-lg" id="Button">Lojas</button>

        <button type="button" class="btn btn-outline-success btn-lg" id="Button">Produtos</button>
   
        <button type="button" class="btn btn-outline-success btn-lg" id="Button">Sobre nos </button>

        <button type="button" class="btn btn-outline-success btn-lg" id="Button">Minha Conta</button>
       

            
    </div>
    <div class="col-lg-6">

       <app-stores></app-stores>

    </div>        
</div>

