<img src="../../assets/images/header.png" class="img-fluid" alt="Responsive image">
<div class="row" id="main_container"> 
    
 
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Nome</label>
          <input type="email" [(ngModel)]="userName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <label for="exampleInputEmail1" class="form-label">Senha</label>
          <input type="password"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                
        </div>
        <button type="submit" class="btn btn-primary" (click)="recordUser()">Inscrever e Acessar</button>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">ID</label>
          <input type="email" [(ngModel)]="idUser"  class="form-control" id="exampleInputPassword1">
        </div>

        <button type="submit" class="btn btn-primary" (click)="goUser()">Acessar</button>
    
<div>