<div class="container">
<div class="row" >
        
                <div class="card" id="cards" style="width: 18rem;" *ngFor="let product of products" (click)="productClicked(product.id,product.name,product.price)">
                    <div class="col-xs-4">                   
                     <div class="card-body" id="body">
                        <div class="col-xs-1 text-center">
                            <h3 class="card-title">{{product.name}}</h3>
                            <p class="card-text" id ="text">Preco : {{product.price}}</p>
                        </div>
                    </div>
                </div>

               </div>
          
           
        
    </div>
</div>